@import "vars";

.home{
  height: 100vh;
  .sections{
    width: 100%;
    height: calc(100vh - $nav-height);
    position: relative;
    top: $nav-height;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    margin-bottom: $nav-height;
    &::-webkit-scrollbar{
        display: none;
    }
  }
}

